<robot name="fairino_cobot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="robot_name" default="fairino5_v6"/>
  <xacro:property name="model" value="$(arg robot_name)"/>

  <xacro:include filename="$(find fairino_description)/urdf/${model}.urdf" />
  <xacro:include filename="$(find fairino_sim)/config/frcobot_gz.xacro" />
  <xacro:include filename="$(find fairino_sim)/config/frcobot_gz_ros2_control.xacro" />

  <xacro:frcobot_gz />
  <xacro:frcobot_gz_ros2_control />

  <link name="world"/>

  <joint name="world_to_base_link" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

</robot>